@model PagedList.IPagedList<HutechDriver.Models.EF.Trip>
@using PagedList.Mvc;
@using HutechDriver.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;

@{
    ViewBag.Title = "Danh sách đơn đặt xe";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/booking" class="nav-link">Danh sách đơn đặt xe</a>
        </li>
    </ul>
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách đơn đặt xe</h3>
        </div>
        <div class="row">
            <div class="col-6">
                @using (Html.BeginForm("Index", "Booking", FormMethod.Get, new { }))
                {
                    <div class="input-group input-group-sm">
                        @Html.TextBox("SearchText", "", new { @class = "form-control" })
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-info btn-flat">Tìm kiếm</button>
                        </span>
                        <select id="filterStatus" style="float:right">
                            <option value="">Tất cả</option>
                            <option value="Hoàn thành">Hoàn thành</option>
                            <option value="Đang chạy">Đang chạy</option>
                            <option value="Đang chờ">Chưa nhận</option>
                        </select>
                    </div>
                }
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="tripTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên khách hàng</th>
                        <th>SDT</th>
                        <th>Nơi đi</th>
                        <th>Nơi đến</th>
                        <th>Khoảng cách</th>
                        <th>Thời gian</th>
                        <th>Giá</th>
                        <th>Tên tài xế</th>
                        <th>Thời gian đặt xe</th>
                        <th>Trạng thái</th>
                        <th>Thanh toán</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        IdentityDbContext<ApplicationUser> context = new IdentityDbContext<ApplicationUser>();
                        if (Model != null && Model.Any())
                        {
                            var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                            foreach (var item in Model)
                            {
                                var find = context.Users.FirstOrDefault(p => p.Id == item.UserId);

                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.FullName</td>
                                    <td>@find.PhoneNumber</td>
                                    <td>@item.StartLocation</td>
                                    <td>@item.EndLocation</td>
                                    <td>@item.Distance</td>
                                    <td>@item.Time</td>
                                    <td>@HutechDriver.Common.Common.FormatNumber(item.Price)</td>
                                    <td>@item.DriverBook</td>
                                    @*<td>@item.OrderDate</td>*@
                                    <td>@item.TimeBook</td>
                                    <td>

                                        @if (item.Status == "Hoàn thành")
                                        {
                                            <i class="fas fa-circle text-success"></i>
                                        }
                                        else if (item.Status == "Đang chạy")
                                        {
                                            <i class="fas fa-motorcycle" style="color: #acc016;"></i>
                                        }
                                        else if (item.Status == "Chưa nhận")
                                        {
                                            <i class="fas fa-circle text-danger"></i>
                                        }
                                        else if (item.Status == "Đã nhận đơn")
                                        {
                                            <i class="far fa-clipboard-check" style="color: #ba7e17;"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                                        }
                                        @item.Status
                                    </td>
                                    <td>
                                        @if (item.IsPaid == false)
                                        {
                                            <i class="fas fa-clock fa-pulse" style="color: #353a82;"></i> <p>Chưa thanh toán</p>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle" style="color: #2f933a;"></i><p>Đã thanh toán</p>
                                        }
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    }

                </tbody>
            </table>

            <div class="row">
                <div class="col-6"></div>
                <div class="col-6" style="text-align:right;">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function () {
        $("#filterStatus").change(function () {
            var filterStatus = $(this).val();
            const url = '@Url.Action("Filter", "Booking")';
            $.ajax({
                url: url,
                type: "POST",
                data: { filterStatus: filterStatus },
                success: function (rs) {
                    // Xử lý kết quả trả về
                    $('#tripTable').html(rs);
                },
                error: function (rs) {
                    alert("Lỗi khi lấy dữ liệu");
                }
            });
        });
    });
</script>

